@use "../../partials/variables" as *;
@use "../../partials/mixins" as *;

.login {
  @include media-tablet {
    @include form-max-width;
  }

  &__heading {
    display: none;

    @include media-tablet {
      display: block;
      text-transform: capitalize;
    }
  }

  &__form {
    @include form;
  }

  &__input {
    @include form-field;
  }

  &__button {
    @include button-form;
  }

  &__error {
    @include error-form;

    &--form {
      margin-bottom: $margin-form-error;
    }
  }

  &__link {
    @include link-form;
  }
}
