@use "../../partials/variables" as *;
@use "../../partials/mixins" as *;

.login {
  @include media-tablet {
    max-width: 500px;
    margin: auto;
  }

  &__form {
    @include form;
  }

  &__input {
    @include form-field;
  }

  &__button {
    @include button-form;
  }

  &__error {
    @include error-form;
  }

  &__server-error {
    margin: $margin-server-error;
  }
}
