@use "../../partials/variables" as *;
@use "../../partials/mixins" as *;

.register {
  padding: $padding-form;

  @include media-tablet {
    max-width: 500px;
    margin: auto;
  }

  &__form {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    margin: $padding-form;
  }

  &__input {
    font-size: 1.8rem;
    border: 1px solid lightgrey;
    border-radius: 8px;
    padding: 1.2rem;
    outline: none;
  }

  &__error {
    color: red;
    margin-top: -16px;
  }
}
