@use "../../partials/variables" as *;
@use "../../partials/mixins" as *;

.manage-images {
  &__form {
    @include form;
  }

  &__heading {
    text-transform: capitalize;
  }

  &__images {
    @include media-tablet {
      display: grid;
      grid-template-columns: repeat(3, minmax(auto, 250px));
      column-gap: 24px;
      justify-content: center;
    }
  }

  &__text {
    color: red;
    text-align: center;
  }

  &__input {
    margin: 0 auto;
  }

  &__actions {
    display: flex;
    column-gap: 16px;

    @include media-tablet {
      justify-content: center;
      column-gap: 24px;
    }
  }

  &__button {
    @include button-form;
    width: 100%;

    @include media-tablet {
      max-width: 200px;
    }
  }
}
