@use "../../partials/variables" as *;
@use "../../partials/mixins" as *;

.manage-images {
  &__form {
    @include form;
  }

  &__heading {
    text-transform: capitalize;
  }

  &__images {
    @include media-tablet {
      display: grid;
      grid-template-columns: repeat(3, minmax(auto, 250px));
      column-gap: 24px;
      justify-content: center;
    }
  }

  &__text {
    color: red;
    text-align: center;
  }

  &__actions {
    display: flex;
    column-gap: 16px;

    @include media-tablet {
      justify-content: center;
      column-gap: 24px;
    }
  }

  &__button {
    @include button-form;
    width: 100%;

    @include media-tablet {
      max-width: 200px;
    }
  }
}

.input {
  &__container {
    position: relative;
    border-radius: 20px;
    width: fit-content;
    margin: 0 auto;
  }

  &__input {
    &::-webkit-file-upload-button {
      visibility: hidden;
    }
    border-radius: inherit;
    padding: 20px;
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    border: 4px dashed lightgrey;
    background-color: white;
    cursor: pointer;
  }

  &__icon {
    width: 30px;
    filter: invert(90%) sepia(0%) saturate(1518%) hue-rotate(195deg)
      brightness(94%) contrast(97%);
  }
}
