@use "../../partials/mixins" as *;

.image-item {
  display: flex;
  border-radius: 8px;
  margin: 16px 0;
  height: 25vw;

  @include media-tablet {
    position: relative;
    flex-direction: column;
    border-radius: 12px;
    width: 300px;
    height: 300px;
  }

  &__img-container {
    display: flex;
    align-items: center;
    width: 50%;
    height: inherit;
    border-radius: inherit;
    background-color: black;

    @include media-tablet {
      width: 100%;
    }
  }

  &__img {
    display: block;
    width: 100%;
    height: inherit;
    object-fit: cover;
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;

    @include media-tablet {
      border-radius: inherit;
    }
  }

  &__actions {
    display: flex;
    justify-content: flex-end;
    width: 50%;
    height: inherit;
    border: 1px solid grey;
    border-left: none;
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;

    @include media-tablet {
      justify-content: center;
      position: absolute;
      bottom: 0;
      background-color: rgba(255, 0, 0, 0.4);
      width: 100%;
      height: 15%;
      border: none;
      border-radius: 0;
      border-bottom-left-radius: inherit;
      border-bottom-right-radius: inherit;
    }
  }

  &__icon {
    display: block;
    width: 30px;
    margin-right: 10px;
    filter: invert(16%) sepia(81%) saturate(7233%) hue-rotate(358deg)
      brightness(107%) contrast(118%);
    cursor: pointer;

    @include media-tablet {
      width: 100%;
      height: 100%;
      margin: auto;
      padding: 5px;
      border-radius: inherit;
      filter: invert(100%) sepia(3%) saturate(974%) hue-rotate(255deg)
        brightness(120%) contrast(100%);
    }
  }
}
