.profile {
  &__greeting {
    text-transform: capitalize;
    margin-bottom: 4px;
  }

  &__link {
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    margin: 24px auto;
    border: 3px solid black;
    border-radius: 1rem;
    padding: 2rem;
  }
}
