@use "../../partials/variables" as *;
@use "../../partials/mixins" as *;

.listing-form {
  &__form {
    @include form;
  }

  &__input {
    @include form-field;
  }

  &__button {
    @include button-form;
  }

  &__error {
    @include error-form;
  }

  &__actions {
    display: flex;
    flex-direction: column;
  }

  &__button {
    margin: 8px 0;

    &--save {
      background-color: rgb(0, 176, 0);
    }
  }
}
