.header {
  position: sticky;
  top: 0;
  background-color: white;
  border-bottom: 1px solid lightgrey;

  &__container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 24px;
  }

  &__icon {
    position: absolute;
    width: 20px;
    top: 52px;
    left: 10px;
  }

  &__search {
    width: 100%;
    border-radius: 20px;
    margin-bottom: 16px;
    outline: none;
    border: 1px solid lightgrey;
    padding: 1rem;
    padding-left: 3.5rem;
  }

  &__logo {
    padding: 12px;
  }

  &__heading {
    margin: 8px;
  }
}

.nav {
  &__item {
    list-style: none;
  }
}
