@use "../../partials/mixins" as *;

.header {
  position: sticky;
  top: 0;
  background-color: white;
  border-bottom: 1px solid lightgrey;
  z-index: 100;

  &__container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1280px;
    margin: 0 24px;

    @include media-tablet {
      flex-direction: row;
      padding: 20px;
      margin: auto;
    }
  }

  &__icon {
    position: absolute;
    width: 20px;
    top: 52px;
    left: 10px;

    @include media-tablet {
      top: 32px;
      left: 110px;
    }
  }

  &__search {
    width: 100%;
    border-radius: 20px;
    margin-bottom: 16px;
    outline: none;
    border: 1px solid lightgrey;
    padding: 1rem;
    padding-left: 3.5rem;

    @include media-tablet {
      margin: 0;
      margin-right: 24px;
      max-width: 768px;
    }
  }

  &__logo {
    padding: 12px;
  }

  &__heading {
    margin: 8px;
    text-transform: capitalize;

    @include media-tablet {
      display: none;
    }
  }

  &__nav {
    display: none;

    @include media-tablet {
      display: flex;
      margin-left: auto;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    column-gap: 32px;
  }
}

.nav {
  &__item {
    list-style: none;
  }

  &__link {
    width: fit-content;
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
  }

  &__icon {
    width: 20px;
    margin-right: 4px;
  }

  &__text {
    text-decoration: none;
  }

  &__hide {
    display: none;
  }
}
