@use "../partials/fonts" as *;
@use "../partials/mixins" as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", -apple-system, "BlinkMacSystemFont", "Segoe UI",
    "Roboto", "Helvetica Neue", sans-serif;
  font-size: 1.6rem;
  min-height: calc(100vh + 6px);

  @include media-tablet {
    min-height: auto;
  }
}

button {
  font-family: inherit;
}

.page__heading {
  display: none;

  @include media-tablet {
    display: block;
    text-align: center;
    margin-bottom: 24px;
  }
}
