@use "./variables" as *;

@mixin media-two-column {
  @media (min-width: 550px) {
    @content;
  }
}

@mixin media-three-column {
  @media (min-width: 950px) {
    @content;
  }
}

@mixin media-tablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin form {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  margin: $padding-form;
}

@mixin form-field {
  font-family: inherit;
  font-size: 1.8rem;
  border: 1px solid lightgrey;
  border-radius: 8px;
  padding: 1.2rem;
  outline: none;
}

@mixin button-form {
  display: block;
  color: white;
  background-color: dodgerblue;
  font-size: 1.8rem;
  border: none;
  border-radius: 8px;
  margin: 16px 0;
  padding: 1.2rem;
  cursor: pointer;

  @include media-tablet {
    margin: 24px 0;
  }
}

@mixin error-form {
  color: red;
  margin-top: -16px;
}

@mixin text-fallback {
  font-size: $text-fallback;
  text-align: center;
  margin-top: 100px;
}

@mixin link-form {
  color: dodgerblue;
  text-decoration: none;
  font-weight: 500;
}

@mixin form-max-width {
  max-width: 500px;
  margin: auto;
}
