@use "../../partials/variables" as *;
@use "../../partials/mixins" as *;

.account {
  @include media-tablet {
    width: 90%;
    margin: auto;
  }
  &__greeting {
    text-transform: capitalize;
    margin-bottom: 4px;
  }

  &__actions {
    @include media-tablet {
      display: flex;
      column-gap: 40px;
      margin: auto;
    }
  }

  &__link {
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    margin: 24px auto;
    border: 2px solid lightgrey;
    border-radius: 1rem;
    padding: 2rem;

    @include media-tablet {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.8rem;
      width: 200px;
      height: 180px;
      margin: 36px 0;
      box-shadow: -2px 2px lightgrey;
    }
  }

  &__button {
    @include button-form;
    background-color: salmon;
    width: 100%;
    margin: 24px auto;

    @include media-tablet {
      margin-left: auto;
      width: 100px;
    }
  }
}
