.listing-details {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  margin-top: 4px;

  &__location {
    text-transform: capitalize;
    font-size: 2rem;
    font-weight: bold;
  }

  &__price {
    font-size: 1.8rem;
    font-weight: bold;
  }

  &__description {
    margin: 16px auto;
  }

  &__contact {
    text-transform: capitalize;
    font-weight: bold;
  }
}
