@use "../../partials/mixins" as *;

.listing-details {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  margin-top: 4px;

  &__description {
    margin: 16px 0;
  }

  &__contact,
  &__email {
    font-size: 1.8rem;
    font-weight: 500;
  }

  &__button {
    &--contact {
      @include button-form;
    }
  }
}
