@use "../../partials/mixins" as *;

.listing-details {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  margin-top: 4px;
  border-top: 2px solid lightgrey;
  padding-top: 8px;

  &__container {
    &--top {
      display: flex;
      justify-content: space-between;
    }

    &--bottom {
      @include media-tablet {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
      }
    }

    &--save {
      display: flex;
      align-items: center;
      height: fit-content;
      cursor: pointer;
    }
  }

  &__icon {
    width: 30px;
    filter: invert(61%) sepia(75%) saturate(1236%) hue-rotate(315deg)
      brightness(104%) contrast(96%);
  }

  &__icon-text {
    color: salmon;
    text-transform: capitalize;
  }

  &__location {
    text-transform: capitalize;
    font-size: 2rem;
    font-weight: 600;

    @include media-tablet {
      font-size: 2.6rem;
    }
  }

  &__price {
    color: rgb(84, 84, 84);
    font-size: 1.6rem;
    font-weight: 500;

    @include media-tablet {
      font-size: 2.2rem;
    }
  }

  &__description {
    margin: 16px 0;

    @include media-tablet {
      font-size: 2rem;
      width: 68%;
    }
  }

  &__contact,
  &__email {
    color: rgb(84, 84, 84);
    font-size: 1.8rem;
    font-weight: 500;

    @include media-tablet {
      font-size: 2.1rem;
    }
  }
}
