@use "../../partials/variables" as *;
@use "../../partials/mixins" as *;

.signup {
  @include media-tablet {
    max-width: 500px;
    margin: auto;
  }

  &__heading {
    display: none;

    @include media-tablet {
      display: block;
      text-transform: capitalize;
    }
  }

  &__form {
    @include form;
  }

  &__input {
    @include form-field;
  }

  &__button {
    @include button-form;
    background-color: salmon;
  }

  &__error {
    @include error-form;

    &--form {
      margin-bottom: $margin-form-error;
    }
  }

  &__link {
    @include link-form;
    color: salmon;
  }
}
