@use "./partials/mixins" as *;
@use "./partials/variables" as *;

.app {
  &__modal {
    position: sticky;
    top: 0;
    z-index: 1000;
  }

  &__main {
    margin: auto;
    padding: 24px;
    max-width: $max-width-app;
  }
}
