@use "./partials/mixins" as *;
@use "./partials/variables" as *;

.app {
  &__modal {
    position: sticky;
    top: 0;
    z-index: 1000;
  }

  &__main {
    margin: auto;
    padding: 24px;
    max-width: $max-width-app;

    @include media-two-column {
      padding-left: $padding-page-two-column;
      padding-right: $padding-page-two-column;
    }

    @include media-three-column {
      padding-left: $padding-page-three-column;
      padding-right: $padding-page-three-column;
    }
  }
}
