@use "../../partials/mixins" as *;

.listings {
  &__heading {
    display: none;

    @include media-tablet {
      text-transform: capitalize;
      display: block;
      margin-bottom: 24px;

      &--search {
        text-transform: none;
      }
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 36px;

    @include media-two-column {
      display: grid;
      column-gap: 24px;
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    @include media-tablet {
      grid-template-columns: repeat(3, minmax(0, 1fr));
      max-width: 1280px;
    }
  }
}
