@use "../../partials/mixins" as *;

.listings {
  &__heading {
    display: none;

    @include media-tablet {
      text-transform: capitalize;
      display: block;

      &--search {
        text-transform: none;
      }
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 36px;
    max-width: 1280px;

    @include media-two-column {
      flex-direction: row;
      column-gap: 24px;
      flex-wrap: wrap;
    }

    @include media-tablet {
      margin: 24px auto;
      flex-direction: row;
    }
  }
}
